body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* title */
h1 {
  position: absolute;
  text-align: center;
  font-size: 3.7vw;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  margin-top: -150px;
}

.login-title {
  margin-top: -200px;
}

/* avatar */
#avatar-button {
  background-color: transparent;
  border: none;
  width: 150px;
  height: 150px;
}

.avatar-box {
  position: absolute;
}

#user-avatar {
  border: 12px solid #BF493A;
  position: absolute;
  transform: translateX(-50%) translateY(-10%);
  width: 134px;
  height: 134px;
  border-radius: 50%;
}

#user-avatar2 {
  border: 12px solid #BF493A;
  position: absolute;
  transform: translateX(-50%) translateY(-40%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* progress bar */
#myProgress {
  position: absolute;
  margin-top: 30%;
  width: 40%;
  border: solid black 5px;
  border-radius: 30px;
}

#myBar {
  width: 5%;
  height: 30px;
  background-color: #BF493A;
  border-radius: 30px;
}

/* setting & highscore */
.setting {
  position: absolute;
  background-color: #BF493A;
  border-radius: 20px;
  left: 23%;
  top: 3%;
  width: 100px;
  height: 100px;
  /* width: 6.5%; */
  /* height: 13%; */
  border: solid black 8px;
}

.setting-logo {
  width: 96px;
  height: 83px;
  /* width: 85%;
  height: 76%; */
  transform: translateX(-2%) translateY(14%);
}

.score {
  position: absolute;
  background-color: #BF493A;
  border-radius: 20px;
  left: 69%;
  top: 3%;
  width: 100px;
  height: 100px;
  /* width: 6.5%;
  height: 13%; */
  border: solid black 8px;
}

.score-logo {
  width: 90px;
  height: 60px;
  transform: translateX(4%) translateY(35%);
}

/* form */
.user-info {
  position: absolute;
  margin-top: 20%;
}

.user-start {
  position: absolute;
  margin-top: 28%;
}

#username {
  width: 280px;
  height: 35px;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  background-color: #ffffff;
  box-sizing: border-box;
  border: none;
  text-align: center;
  /* padding-left: 30px; */
}

#startgame {
  width: 280px;
  height: 50px;
  border-radius: 50px;
  font-size: 22px;
  color: #fff;
  background-color: #BF493A;
  box-sizing: border-box;
  border: 5px solid black;
}