body {
    margin: 0;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.carddisplay {
    display: flex;
    flex-direction: row;
     
}

.card {
    background-color: rgb(50, 74, 227);
    width: 6vw;
    height: 6vw;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  
}
.card0{
    position: fixed;
}
.card1{
        position: fixed;
}
.card h3 {
    display: none;
    color: white;
}
/* .card img{
    display: none;
    width: 70px;
    height: 70px;
} */
.maindiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button {
    padding: 0;
    border: none;
    background: none;
}

#score {
    color: brown;
}
.scoretime{
    display: flex;
    flex-direction: column;
}
/* .logo{
    width: 200px;
    height: 200px;
}
.popup{
    display: none;
    width: 200px;
    height: 300px;
} */